@use '../helpers' as *;

.button {
	@include transition;
	@include flex-center;
	background-color: transparent;
	white-space: nowrap;
	padding: remm(16) remm(24);
	border-radius: remm(16);
	position: relative;
	width: 100%;
	@include tablet {
		width: auto;
	}

	&.blue {
		color: var(--white);
		background-color: var(--blue);
		border: var(--border-transparent);

		@include hover(false) {
			color: var(--blue);
			background-color: transparent;
			border: var(--border-blue);
		}

		&:active {
			color: var(--white);
			background-color: var(--blue-light);
			border: var(--border-transparent);
		}
	}
	&.transparent {
		color: var(--blue);
		background-color: transparent;
		border: var(--border-blue);

		@include hover(false) {
			color: var(--white);
			background-color: var(--blue);
			border: var(--border-blue);
		}

		&:active {
			color: var(--white);
			background-color: var(--blue-light);
			border: var(--border-blue-light);
		}
	}
	&.white {
		color: var(--black);
		background-color: var(--white);
		border: var(--border-transparent);

		@include hover(false) {
			color: var(--white);
			background-color: transparent;
			border: var(--border-white);
		}

		&:active {
			color: var(--black);
			background-color: var(--white-08);
			border: var(--border-transparent);
		}
	}

	&.gray {
		color: var(--white);
		background: var(--gray);
		border: var(--border-transparent);

		@include hover(false) {
			color: var(--black);
			background-color: transparent;
			border: var(--border-black);
		}

		&:active {
			color: var(--white);
			background-color: var(--gray-dark);
			border: var(--border-transparent);
		}
	}

	&__header-platform,
	&__header-lang,
	&__footer-lang,
	&__modal-menu-lang {
		font-size: remm(17);
		font-weight: 400;
		line-height: 150%;
		text-align: start;
		width: 100%;
		padding: remm(10);
		@include hover {
			color: var(--blue);
		}
	}
}
