@use '../helpers' as *;

.icon {
	@include transition;
	flex-shrink: 0;
	&__header {
		&-details {
			fill: #3a3a3c;
			.header__nav-details[open] & {
				transform: rotate(180deg);
			}
			.header__soc1al-lang-details[open] & {
				transform: rotate(-180deg);
			}
		}
		&-soc1al {
			.header__soc1al-link:hover & {
				fill: var(--blue);
			}
		}
	}
	&__modal {
		&-menu {
			&-details {
				fill: #3a3a3c;

				.menu__login-soc1al-lang-details[open] & {
					transform: rotate(180deg);
				}
			}
			&-soc1al {
				.soc1al__networks-link:hover & {
					fill: var(--blue);
				}
			}
		}
	}
	&__faq {
		&-details {
			fill: #3a3a3c;

			.faq__details[open] & {
				transform: rotate(-180deg);
			}
		}
	}
	&__footer {
		&-details {
			stroke: var(--white);
			fill: var(--white);
			transform: rotate(90deg);
			.footer__soc1al-lang-details[open] & {
				transform: rotate(270deg);
			}
		}
		&-soc1al {
			fill: var(--white-08);

			@include laptop {
				@include square(remm(40));
			}
			.footer__soc1al-link:hover & {
				fill: var(--white);
				transform: scale(1.2);
			}
		}
	}
}
