<section class="account container tab" id="account">
	<ul class="account__list">
		<li class="account__item header">
			<h2 class="account__header-title h1">Personal data management</h2>
			<button
				type="button"
				class="button account__header-button"
				data-modal="logout"
			>
				<svg class="icon-exit" height="24" width="24">
					<use href="/images/svg/sprite.svg#exit"></use>
				</svg>
				Exit the office
			</button>
		</li>
		<li class="account__item info">
			<ul class="account__info">
				<li class="account__info-item">
					<p class="account__info-text">ID:</p>
					<p class="account__info-id" id="account-id">000000</p>
				</li>
				<li class="account__info-item">
					<p class="account__info-text">Name:</p>
					<p class="account__info-id" id="account-name">000000</p>
				</li>
				<li class="account__info-item">
					<p class="account__info-text">Email:</p>
					<p class="account__info-id" id="account-email">000000</p>
				</li>
				<li class="account__info-item">
					<p class="account__info-text">Tel:</p>
					<p class="account__info-id" id="account-tel">000000</p>
				</li>
			</ul>
			<ul class="account__plans-list" id="account__plans">
				<li class="account__no-plans" data-no-plans>
					<p class="account__no-plans-text">Please choose your subscription</p>
					<button type="button" class="button blue" data-button="choose">
						Choose!
					</button>
				</li>
			</ul>
		</li>
		<load src="/partials/discount.html" />
	</ul>
</section>
