<section class="account container tab" id="account">
	<ul class="account__list">
		<li class="account__item header">
			<h2 class="account__header-title h1">Personal data management</h2>
			<button class="button account__header-button">
				<svg class="icon-exit" height="24" width="24">
					<use href="/images/svg/sprite.svg#exit"></use>
				</svg>
				Exit the office
			</button>
		</li>
		<li class="account__item info">
			<ul class="account__info">
				<li class="account__info-item">
					<p class="account__info-text">ID user</p>
					<p class="account__info-id" id="account-id">000000</p>
				</li>
				<li class="account__info-item">
					<p class="account__info-text">Emai user</p>
					<p class="account__info-id" id="account-id">000000</p>
				</li>
			</ul>
			<ul class="account__plans-list">
				<li class="account__no-plans">
					<p class="account__no-plans-text">Please choose your subscription</p>
					<button class="button blue" data-button="choose">Choose!</button>
				</li>
				<li class="account__plans-item">
					<div class="account__plans-header plan-spotify">
						<h3 class="account__plans-header-title">Spotify Premium</h3>
						<p class="account__plans-header-title">Duo</p>
					</div>
					<div class="account__plans-options">
						<p class="account__plans-options-text">
							<svg
								class="icon icon-copy success options-icon"
								height="24"
								width="24"
								fill="blue"
							>
								<use href="/images/svg/sprite.svg#file-copy-success"></use>
							</svg>
							qwerqwerqwerqwerqwer qewr
						</p>

						<button
							class="button button-text account__plans-options-button"
							type="button"
							id="account__plans-choose-button"
							data-button="choose"
						>
							Change plan
						</button>
					</div>
				</li>
				<li class="account__plans-item">
					<div class="account__plans-header plan-youtube">
						<h3 class="account__plans-header-title">Spotify Premium Duo</h3>
					</div>
					<div class="account__plans-options">
						<p class="account__plans-options-text">qwerqwerqwerqwerqwer qewr</p>
						<p class="account__plans-options-text">qwerqwerqwerqwerqwer qewr</p>
						<p class="account__plans-options-text">qwerqwerqwerqwerqwer qewr</p>
						<button
							class="button button-text account__plans-options-button"
							type="button"
							id="account__plans-choose-button"
							data-button="choose"
						>
							Change plan
						</button>
					</div>
				</li>
				<li class="account__plans-item">
					<div class="account__plans-header plan-netflix">
						<h3 class="account__plans-header-title">Spotify Premium Duo</h3>
					</div>
					<div class="account__plans-options">
						<p class="account__plans-options-text">qwerqwerqwerqwerqwer qewr</p>
						<p class="account__plans-options-text">qwerqwerqwerqwerqwer qewr</p>
						<p class="account__plans-options-text">qwerqwerqwerqwerqwer qewr</p>
						<button
							class="button button-text account__plans-options-button"
							type="button"
							id="account__plans-choose-button"
							data-button="choose"
						>
							Change plan
						</button>
					</div>
				</li>
			</ul>
		</li>
		<load src="/partials/discount.html" />
	</ul>
</section>
