<section class="netflix container tab" id="netflix">
	<ul class="tab__list">
		<li class="tab__header">
			<h1 class="tab__header-title">Choose a Netflix Plan</h1>
			<p class="tab__header-text">Listen without limits at a bargain price</p>
		</li>
		<li class="tab__selector">
			<div class="first">
				<input
					class="tab__selector-input"
					type="radio"
					name="price-netflix"
					id="month-6-netflix"
					checked
				/>
				<label class="tab__selector-label" for="month-6-netflix">
					6 months
				</label>
			</div>
			<div class="second">
				<input
					class="tab__selector-input"
					type="radio"
					name="price-netflix"
					id="month-12-netflix"
				/>
				<label class="tab__selector-label" for="month-12-netflix">
					12 months
				</label>
			</div>
		</li>
		<li class="tab__plan">
			<ul class="tab__plan-list">
				<li class="tab__plan-item">
					<ul class="plan__list">
						<li class="plan__header">
							<h3 class="plan__header-title h2">Basic</h3>
						</li>
						<li class="plan__suggestions">
							<div class="options">
								<svg
									class="icon icon-copy success options-icon added"
									height="19"
									width="19"
								>
									<use href="/images/svg/sprite.svg#file-copy-success"></use>
								</svg>
								<p class="options__text">Ad-free music listening</p>
							</div>
							<div class="options">
								<svg
									class="icon icon-copy success options-icon"
									height="19"
									width="19"
								>
									<use href="/images/svg/sprite.svg#file-copy-success"></use>
								</svg>
								<p class="options__text">Play anywhere - even offline</p>
							</div>
							<div class="options">
								<svg
									class="icon icon-copy success options-icon"
									height="19"
									width="19"
								>
									<use href="/images/svg/sprite.svg#file-copy-success"></use>
								</svg>
								<p class="options__text">On-demand playback</p>
							</div>
						</li>
						<li class="plan__price">
							<div class="plan__price-inner">
								<span class="price currency">$</span>
								<p class="price">45</p>
							</div>
							<button class="plan__price-button button gray">
								Get started
							</button>
						</li>
					</ul>
				</li>
				<li class="tab__plan-item">
					<ul class="plan__list">
						<li class="plan__header">
							<h3 class="plan__header-title h2">Standart</h3>
						</li>
						<li class="plan__suggestions">
							<div class="options">
								<svg
									class="icon icon-copy success options-icon added"
									height="19"
									width="19"
								>
									<use href="/images/svg/sprite.svg#file-copy-success"></use>
								</svg>
								<p class="options__text">Ad-free music listening</p>
							</div>
							<div class="options">
								<svg
									class="icon icon-copy success options-icon added"
									height="19"
									width="19"
								>
									<use href="/images/svg/sprite.svg#file-copy-success"></use>
								</svg>
								<p class="options__text">Play anywhere - even offline</p>
							</div>
							<div class="options">
								<svg
									class="icon icon-copy success options-icon"
									height="19"
									width="19"
								>
									<use href="/images/svg/sprite.svg#file-copy-success"></use>
								</svg>
								<p class="options__text">On-demand playback</p>
							</div>
						</li>
						<li class="plan__price">
							<div class="plan__price-inner">
								<span class="price currency">$</span>
								<p class="price">60</p>
							</div>
							<button class="plan__price-button button gray">
								Get started
							</button>
						</li>
					</ul>
				</li>
				<li class="tab__plan-item">
					<ul class="plan__list">
						<li class="plan__header">
							<h3 class="plan__header-title h2">Premium</h3>
						</li>
						<li class="plan__suggestions">
							<div class="options">
								<svg
									class="icon icon-copy success options-icon added"
									height="19"
									width="19"
								>
									<use href="/images/svg/sprite.svg#file-copy-success "></use>
								</svg>
								<p class="options__text">Ad-free music listening</p>
							</div>
							<div class="options">
								<svg
									class="icon icon-copy success options-icon added"
									height="19"
									width="19"
								>
									<use href="/images/svg/sprite.svg#file-copy-success "></use>
								</svg>
								<p class="options__text">Play anywhere - even offline</p>
							</div>
							<div class="options">
								<svg
									class="icon icon-copy success options-icon added"
									height="19"
									width="19"
								>
									<use href="/images/svg/sprite.svg#file-copy-success "></use>
								</svg>
								<p class="options__text">On-demand playback</p>
							</div>
						</li>
						<li class="plan__price">
							<div class="plan__price-inner">
								<span class="price currency">$</span>
								<p class="price">80</p>
							</div>
							<button class="plan__price-button button gray">
								Get started
							</button>
						</li>
					</ul>
				</li>
			</ul>
		</li>

		<load src="/partials/discount.html" />
	</ul>
</section>
<load src="/partials/faq.html" />
