@use '../helpers' as *;

.overlay {
	width: 100%;
	padding: 0;
	@include abs-center;
	@include flex-center;
	z-index: 2;
}
.bg-blur::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(23, 73, 179, 0.1);
	backdrop-filter: blur(7.5px);
	z-index: -1;
}
.bg-menu::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--background);
	z-index: -1;
}

.modal {
	max-width: 1440px;
	@include flex-center(column);
	width: 100%;
	position: relative;
	z-index: 10;
}
