@use '../../helpers' as *;

.modal {
	&__menu {
		width: 100%;
		background: var(--background);
		max-width: remm(375);
		margin-top: remm(170);
		padding: remm(24) remm(24) remm(40);

		&-list {
			@include flex-center(column);
			gap: remm(64);
		}
		&-item {
			width: 100%;
		}
	}
	.menu {
		&__nav {
			@include flex-center(column);
			gap: remm(16);

			&-item {
				width: 100%;
				@include flex-center(column);
				align-items: flex-start;
				padding: remm(16);
				border-radius: remm(12);
				background: var(--white);
				box-shadow: var(--shadow-menu-modal);
			}
			&-section {
				width: 100%;
			}
		}

		&__links {
			@include flex-center;
			justify-content: start;
			gap: remm(12);
			width: 100%;
			height: 100%;
			padding: remm(12) remm(20);

			color: var(--blue-dark);
			font-size: 17px;
			font-weight: 400;
			line-height: 150%;
			letter-spacing: 0.17px;

			@include hover {
				border-radius: remm(8);
				background-color: var(--background-menu-links);
			}
		}

		&__login {
			@include flex-center(column);
			gap: remm(36);

			&-buttons {
				width: 100%;
				position: relative;
				z-index: 0;
				.login__buttons {
					@include flex-center(column);
					gap: remm(8);

					&-item {
						width: 100%;
						& > button {
							width: 100%;
						}
					}
				}
			}

			&-soc1al {
				width: 100%;
				@include flex-center;
				justify-content: space-between;

				.soc1al {
					&__list {
						width: 100%;
						@include flex-center;
						justify-content: space-between;
					}
					&__networks {
						@include flex-center;
						gap: remm(16);
					}
					&__lang {
						.lang-list {
							@include abs-center;
							top: -250%;
							left: -50%;
							background-color: #fff;
							border-radius: remm(10);
							z-index: 1;
						}
					}
				}
			}
		}
	}
}
