<ul class="email__list modal__list">
	<li class="email__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="email__item title modal__item">
		<h2 class="email__title">Resend code</h2>
		<p class="email__text">We will send code in this emaill.</p>
	</li>
	<li class="email__item modal__item">
		<form class="email__form">
			<label class="email__label"
				>Email
				<input
					type="email"
					class="email__input"
					placeholder="Enter your email here!"
				/>
			</label>
			<button class="button blue" type="submit" data-modal="email">Send</button>
		</form>
	</li>
</ul>
