<ul class="create__list modal__list">
	<li class="create__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="create__item modal__item">
		<h2 class="create__title">Create an account</h2>
	</li>
	<li class="create__item modal__item"></li>
	<li class="create__item modal__item"></li>
	<li class="create__item modal__item"></li>
	<li class="create__item modal__item"></li>
	<li class="create__item modal__item">
		<load src="/partials/modals/login-platforms.html" />
	</li>
</ul>
