<ul class="create__list modal__list">
	<li class="create__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="create__item signin modal__item">
		<h2 class="create__title">Create an account</h2>
		<div class="create__signin">
			<p class="create__signin-text">Already have an account?</p>
			<button type="button" class="button button-text" data-modal="login">
				Sign In
			</button>
		</div>
	</li>
	<li class="create__item modal__item">
		<form class="create__form">
			<div class="label-inner">
				<label class="create__form-label" for="create__form-name">
					User name
				</label>
				<input
					title="Pls enter your name"
					required
					name="name"
					id="create__form-name"
					type="text"
					class="create__form-input"
					placeholder="Enter your name"
				/>
			</div>
			<div class="label-inner">
				<label class="create__form-label" for="create__form-email">
					Email Address
				</label>
				<input
					title="Pls enter your email"
					required
					name="email"
					id="create__form-email"
					type="email"
					class="create__form-input"
					placeholder="Enter your e-mail"
				/>
			</div>
			<div class="label-inner">
				<label class="create__form-label" for="create-password">
					Password
				</label>
				<div class="create__form-password">
					<input
						title="Enter your password"
						required
						name="password"
						id="create-password"
						type="password"
						class="create__form-input"
						placeholder="********"
					/>
					<load src="/partials/modals/password-button.html" />
				</div>
			</div>
			<div class="create__form-policy">
				<label class="create__form-policy-label" for="create__agree">
					<input
						title="Are you agree?"
						required
						class="create__form-policy-checbox"
						id="create__agree"
						type="checkbox"
						required
					/>
					I agree to the
					<a
						class="link link-blue"
						href="./rule-page/terms.html"
						target="_blank"
						>Terms of Service</a
					>
					and
					<a
						class="link link-blue"
						href="./rule-page/policy.html"
						target="_blank"
						>Privacy Policy</a
					>
				</label>
			</div>
			<button
				class="button blue"
				type="submit"
				title="Please fill out the form fields"
				data-modal="email"
			>
				Sing up
			</button>
		</form>
	</li>
	<li class="create__item modal__item">
		<load src="/partials/modals/login-platforms.html" />
	</li>
</ul>
