<ul class="crypto-wallet__list modal__list">
	<li class="crypto-wallet__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="crypto-wallet__item modal__item">
		<h2 class="crypto-wallet__title">Purchase payment</h2>
	</li>
	<li class="crypto-wallet__item modal__item">
		<p class="crypto-wallet__text">Payment by crypto wallet</p>
	</li>
	<li class="crypto-wallet__item modal__item inner">
		<div class="crypto-wallet__inner">
			<p class="crypto-wallet__inner-text">The amount to be paid:</p>
			<p class="crypto-wallet__inner-amount">0.00158039 BTC</p>
		</div>
		<div class="crypto-wallet__inner">
			<p class="crypto-wallet__inner-text">Blockchain:</p>
			<p class="crypto-wallet__inner-amount">BTC network</p>
		</div>
	</li>
	<li class="crypto-wallet__item modal__item copy">
		<p class="crypto-wallet__copy-text">You can copy the address:</p>
		<div class="crypto-wallet__copy">
			<p class="crypto-wallet__copy-number">XFAKE-WALLET-1234567890-UNREAL</p>
			<svg class="icon-copy discount__copy-icon" height="19" width="19">
				<use href="/images/svg/sprite.svg#file-copy"></use>
			</svg>
			<svg
				class="icon-copy success discount__copy-icon visually-hidden"
				height="19"
				width="19"
			>
				<use href="/images/svg/sprite.svg#file-copy-success"></use>
			</svg>
		</div>
	</li>

	<li class="crypto-wallet__item modal__item">
		<button class="button blue" data-modal="paid">Ok</button>
	</li>
</ul>
