<ul class="email__list modal__list">
	<li class="email__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="email__item title modal__item">
		<h2 class="email__title">Forget Password</h2>
		<p class="email__text">We will send reset code in this emaill.</p>
	</li>
	<li class="email__item modal__item">
		<form class="email__form-code">
			<div class="label-inner">
				<label class="email__label">Email verification code </label>
				<div class="email__code">
					<input
						title="Enter code from email here"
						required
						name="email-code"
						type="text"
						maxlength="6"
						class="email__code-input"
						placeholder="XXXXXX"
					/>
					<button
						class="button button-text email__code-button absolute"
						type="button"
						data-button="resent"
					>
						Resent code
					</button>
				</div>
			</div>
			<button
				class="button blue"
				type="submit"
				title="Please fill out the form fields"
				data-modal="forget-password"
			>
				Restore Password
			</button>
			<button class="button button-text" type="button" data-modal="code">
				Didn’t receive the code?
			</button>
		</form>
	</li>
</ul>
