<ul class="email__list modal__list">
	<li class="email__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="email__item title modal__item">
		<h2 class="email__title">Forget Password</h2>
		<p class="email__text">We will send reset code in this emaill.</p>
	</li>
	<li class="email__item modal__item">
		<form class="email__form">
			<div class="label-inner">
				<label class="email__label">Email Address </label>
				<input
					title="Pls enter your email here"
					required
					name="email"
					type="email"
					class="email__input"
					placeholder="name@gmail.com"
				/>
			</div>
			<button
				class="button blue"
				type="submit"
				title="Please fill out the form fields"
				data-modal="forget-code"
			>
				Submit
			</button>
		</form>
	</li>
</ul>
