<ul class="email__list modal__list">
	<li class="email__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="email__item title modal__item">
		<h2 class="email__title">Forget Password</h2>
		<p class="email__text">Enter a new password.</p>
	</li>
	<li class="email__item modal__item">
		<form class="email__form-new-password">
			<div class="email__form-forget-passwords">
				<div class="label-inner">
					<label for="new-password" class="login__form-label"> Password </label>
					<div class="create__form-password">
						<input
							title="Enter your password"
							required
							name="password"
							id="new-password"
							type="password"
							class="create__form-input"
							placeholder="********"
						/>
						<load src="/partials/modals/password-button.html" />
					</div>
				</div>
				<div class="label-inner">
					<label for="confirm-password" class="login__form-label"> </label>
					Confirm Password
					<div class="create__form-password">
						<input
							title="Confirm your password"
							required
							name="password"
							id="confirm-password"
							type="password"
							class="create__form-input"
							placeholder="********"
						/>
						<load src="/partials/modals/password-button.html" />
					</div>
				</div>
			</div>

			<button
				class="button blue"
				type="submit"
				title="Please fill out the form fields"
				data-modal="login"
			>
				Restore Password
			</button>
		</form>
	</li>
</ul>
