<ul class="login__list modal__list">
	<li class="login__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="login__item modal__item">
		<h2 class="login__title">Log in</h2>
		<div class="login__create">
			<p class="login__create-text">New user?</p>
			<button
				type="button"
				class="button button-text login__create-button"
				data-modal="create"
			>
				Create an account
			</button>
		</div>
	</li>
	<li class="login__item modal__item">
		<form class="login__form">
			<div class="label-inner">
				<label for="email" class="login__form-label"> Email Address </label>
				<input
					title="Pls enter your email here"
					required
					type="email"
					id="email"
					name="email"
					class="login__form-input"
					placeholder="Enter your e-mail"
				/>
			</div>
			<div class="label-inner">
				<label for="login-password" class="login__form-label"> Password </label>
				<div class="create__form-password">
					<input
						title="Enter your password"
						required
						name="password"
						id="login-password"
						type="password"
						class="create__form-input"
						placeholder="********"
					/>
					<load src="/partials/modals/password-button.html" />
				</div>
			</div>
			<div class="login__form-inner">
				<button
					type="button"
					class="button button-forgot"
					data-modal="forget-email"
				>
					Forfot password?
				</button>
				<button
					class="button blue"
					type="submit"
					title="Please fill out the form fields"
					data-tab="account"
					id="login"
				>
					Log in
				</button>
			</div>
		</form>
	</li>
	<li class="login__item modal__item">
		<load src="/partials/modals/login-platforms.html" />
	</li>
	<li class="login__item modal__item">
		<div class="login__protected">
			<span class="login__protected-text link-text">
				Protected by reCAPTCHA and subject to the Google
			</span>
			<a
				target="_blank"
				class="login__protected-link-policy login__protected-link link-blue"
				href="https://policies.google.com/privacy"
			>
				Privacy Policy
			</a>
			<span class="login__protected-text link-text"> and </span>
			<a
				target="_blank"
				class="login__protected-link-terms login__protected-link link-black"
				href="https://policies.google.com/terms"
			>
				Terms of Service.
			</a>
		</div>
	</li>
</ul>
