<div class="platforms">
	<div class="platforms-inner">
		<p class="platforms-text">Or sign in with</p>
	</div>
	<div class="platforms-buttons">
		<button
			type="button"
			class="button button-login-platforms"
			data-platform="google"
		>
			<img
				class="platforms-img"
				srcset="/images/log-in/google.webp 1x, /images/log-in/google-2x.webp 2x"
				src="/images/log-in/google.png"
				alt="google logo"
			/>
		</button>
		<button
			type="button"
			class="button button-login-platforms"
			data-platform="facebook"
		>
			<img
				class="platforms-img"
				srcset="
					/images/log-in/facebook.webp    1x,
					/images/log-in/facebook-2x.webp 2x
				"
				src="/images/log-in/facebook.png"
				alt="facebook logo"
			/>
		</button>
		<button
			type="button"
			class="button button-login-platforms"
			data-platform="apple"
		>
			<img
				class="platforms-img apple"
				srcset="/images/log-in/apple.webp 1x, /images/log-in/apple-2x.webp 2x"
				src="/images/log-in/apple.png"
				alt="apple logo"
			/>
		</button>
	</div>
</div>
