<ul class="menu__list modal__list">
	<li class="menu__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="menu__item modal__item">
		<nav class="menu__nav">
			<button
				class="menu__links button button-home"
				data-tab="main"
				type="button"
			>
				<svg class="icon icon__modal-menu-nav" height="24" width="24">
					<use href="/images/svg/sprite.svg#menu-home"></use>
				</svg>
				Home
			</button>
			<a class="menu__links menu__nav-section-link" href="#about">
				<svg class="icon icon__modal-menu-nav" height="24" width="24">
					<use href="/images/svg/sprite.svg#menu-dashboard"></use>
				</svg>
				About
			</a>
			<a class="menu__links menu__nav-section-link" href="#faq">
				<svg class="icon icon__modal-menu-nav" height="24" width="24">
					<use href="/images/svg/sprite.svg#menu-question"></use>
				</svg>
				FAQ
			</a>
			<a class="menu__links menu__nav-section-link" href="#support">
				<svg class="icon icon__modal-menu-nav" height="24" width="24">
					<use href="/images/svg/sprite.svg#menu-dashboard2"></use>
				</svg>
				Support
			</a>
		</nav>
		<div class="menu__tabs">
			<button
				class="menu__links button button-platform"
				data-tab="netflix"
				type="button"
			>
				Netflix
			</button>
			<button
				class="menu__links button button-platform"
				data-tab="youtube"
				type="button"
			>
				Youtube
			</button>
			<button
				class="menu__links button button-platform"
				data-tab="spotify"
				type="button"
			>
				Spotify
			</button>
		</div>
	</li>
	<li class="menu__item modal__item">
		<div class="menu__login">
			<button class="button button-login transparent" data-modal="login">
				Login
			</button>
			<button class="button button-sing-up transparent" data-modal="create">
				Sign up
			</button>
		</div>
		<ul class="menu__soc1al">
			<li class="soc1al__networks">
				<a
					href="https://github.com/Jaelouss"
					class="soc1al__networks-link"
					aria-label="autor github"
				>
					<svg class="icon icon__modal-menu-soc1al" height="32" width="32">
						<use href="/images/svg/sprite.svg#github"></use>
					</svg>
				</a>
				<a
					href="https://www.linkedin.com/in/eugen-alekseev/"
					class="soc1al__networks-link"
					aria-label="autor linkedin"
				>
					<svg class="icon icon__modal-menu-soc1al" height="32" width="32">
						<use href="/images/svg/sprite.svg#linkedin"></use>
					</svg>
				</a>
			</li>
			<li class="soc1al__lang">
				<details
					class="details details__modal-menu-lang menu__login-soc1al-lang-details"
				>
					<summary
						class="summary summary__modal-menu-lang menu__login-soc1al-lang-summary"
					>
						EN
						<svg class="icon icon__modal-menu-details" height="12" width="12">
							<use href="/images/svg/sprite.svg#arrow-down"></use>
						</svg>
					</summary>
					<ul class="lang-list">
						<li class="lang-item">
							<button class="button button__modal-menu-lang" data-lang="en">
								English
							</button>
						</li>
						<li class="lang-item">
							<button class="button button__modal-menu-lang" data-lang="uk">
								Ukraine
							</button>
						</li>
					</ul>
				</details>
			</li>
		</ul>
	</li>
</ul>
