<ul class="paid__list modal__list">
	<li class="paid__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="paid__item modal__item image">
		<svg class="icon icon-paid" height="145" width="145">
			<use href="/images/svg/sprite.svg#paid-success"></use>
		</svg>
	</li>
	<li class="paid__item modal__item">
		<h2 class="paid__title">Subscription paid</h2>
	</li>
	<li class="paid__item modal__item">
		<button class="button blue" data-tab="main">Continue work</button>
	</li>
</ul>
