<ul class="subscription__list modal__list">
	<li class="subscription__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="subscription__item modal__item">
		<h2 class="subscription__title">Subscription Application</h2>
	</li>
	<li class="subscription__item modal__item">
		<form class="subscription__form">
			<label class="subscription__form-label">
				Enter your name
				<input
					type="text"
					class="subscription__form-input"
					placeholder="Anastasiia"
				/>
			</label>
			<label class="subscription__form-label">
				E-mail
				<input
					type="email"
					class="subscription__form-input"
					placeholder="Enter your e-mail"
				/>
			</label>
			<label class="subscription__form-label">
				Phone
				<input
					type="tel"
					class="subscription__form-input"
					placeholder="Enter your phone"
				/>
			</label>
			<button
				class="subscription__form-button button blue"
				type="submit"
				data-button="create"
			>
				Apply
			</button>
		</form>
	</li>
</ul>
