<ul class="subscription__list modal__list">
	<li class="subscription__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="subscription__item modal__item">
		<h2 class="subscription__title">Subscription Application</h2>
	</li>
	<li class="subscription__item modal__item">
		<form class="subscription__form">
			<div class="label-inner">
				<label class="subscription__form-label"> Enter your name </label>
				<input
					title="Pls enter your name"
					required
					name="name"
					type="text"
					class="subscription__form-input"
					placeholder="Anastasiia"
				/>
			</div>
			<div class="label-inner">
				<label class="subscription__form-label"> E-mail </label>
				<input
					title="Pls enter your email"
					required
					name="email"
					type="email"
					class="subscription__form-input"
					placeholder="Enter your e-mail"
				/>
			</div>
			<div class="label-inner">
				<label class="subscription__form-label"> Phone </label>
				<input
					title="Pls enter your telephone"
					required
					name="tel"
					type="tel"
					class="subscription__form-input"
					placeholder="Enter your phone"
				/>
			</div>
			<button
				class="subscription__form-button button blue"
				type="submit"
				title="Please fill out the form fields"
				data-modal="purschase"
			>
				Apply
			</button>
		</form>
	</li>
</ul>
