<ul class="email__list modal__list">
	<li class="email__item modal__item">
		<load src="/partials/modals/close-button.html" />
	</li>
	<li class="email__item title modal__item">
		<h2 class="email__title">Successful registration</h2>
		<p class="email__text">
			By optimizing our work and using internal tools, we were able to lower the
			prices while keeping the highest possible.
		</p>
	</li>
	<li class="email__item modal__item">
		<button class="button blue" type="button" data-tab="account">
			Continue work
		</button>
	</li>
</ul>
