@use '../helpers' as *;

.create {
	&__item {
		&.signin {
			gap: remm(12);
		}
	}

	&__title {
		color: var(--black);
	}
	&__signin {
		&-text {
			display: inline;
			color: var(--black);
		}
	}
	&__form {
		width: 100%;
		@include flex-center(column);
		gap: remm(25);

		&-password {
			width: 100%;
			position: relative;
		}

		&-policy {
			width: 100%;
			border-bottom: 2px solid red;

			&:has(input[type='checkbox']:checked) {
				border-bottom: 2px solid green;
			}

			&-label,
			&-checbox,
			&-text {
				display: inline;
			}
			&-checbox {
				width: auto;
			}
			&-text {
				@include tablet-below {
					font-size: remm(15);
				}
			}
		}
	}
}
