@use '../helpers' as *;

.login {
	&__item {
		&:nth-child(2) {
			gap: remm(12);
		}
	}

	&__title {
		color: var(--black);
	}
	&__create {
		width: 100%;
		@include flex-center;
		justify-content: start;

		&-text {
			white-space: nowrap;
			color: var(--black-dark);
			font-weight: 400;
		}
	}
	&__form {
		width: 100%;
		@include flex-center(column);
		gap: remm(10);

		@include tablet {
			gap: remm(15);
		}

		&-inner {
			width: 100%;
			@include flex-center(column);
			@include tablet {
				flex-direction: row;
			}
		}
		&-password {
			width: 100%;
			position: relative;
		}
		.button-forgot {
			padding-inline: remm(4);
			padding-block: remm(10);
		}
	}
	&__protected {
		width: 100%;
		&-text,
		&-link {
			display: inline;
		}
	}
}
