@use '../helpers' as *;

.menu {
	&__item {
		&:nth-child(2) {
			gap: remm(16);
		}
		&:last-child {
			gap: remm(20);
		}
	}

	&__nav,
	&__tabs {
		width: 100%;
		@include flex-center(column);
		align-items: start;
		padding: remm(5);
		border-radius: remm(24);
		background-color: var(--white);
		box-shadow: var(--shadow-menu-modal);
	}
	&__links {
		width: 100%;
		border-radius: remm(16);
		@include flex-center;
		justify-content: start;
		padding: remm(10) remm(20);

		@include hover {
			background-color: var(--blue-light);
			& .icon__modal-menu-nav {
				fill: var(--white);
			}
		}
	}
	&__login {
		@include flex-center(column);
		gap: remm(10);
		width: 100%;
	}
	&__soc1al {
		width: 100%;
		@include flex-center;
		justify-content: space-between;

		.lang-list {
			position: absolute;
			top: -210%;
			left: 0%;
			translate: -50% -50%;
			background-color: var(--white);
			border-radius: remm(10);
			border: var(--border-black);
		}
	}
}
