<section class="about container section-display" id="about">
	<h2 class="about__title">About us</h2>
	<ul class="about__list">
		<li class="about__item">
			<ul class="left__list">
				<li class="left__item">
					<img
						width="60"
						height="60"
						class="left__item-logo"
						srcset="/images/logo/logo.webp 1x, /images/logo/logo-2x.webp 2x"
						src="/images/logo/logo.png"
						alt="logo"
					/>
				</li>
				<li class="left__item">
					<p class="left__item-text">
						We offer you a subscription to various media services at the best
						price.
					</p>
				</li>
				<li class="left__item">
					<p class="left__item-text">
						We have partnered with several companies to help you find the best
						prices for your media subscriptions and provide you with the best
						prices for the Premium subscriptions you want.
					</p>
				</li>
				<li class="left__item">
					<p class="left__item-text bold">It's simple, fast and economical.</p>
				</li>
			</ul>
		</li>
		<li class="about__item">
			<div class="right">
				<img
					width="327"
					height="327"
					class="about__item-image right__image"
					srcset="
						/images/about/girl-about.webp    1x,
						/images/about/girl-about-2x.webp 2x
					"
					src="/images/about/girl-about.png"
					alt="girl with logo"
				/>
			</div>
		</li>
	</ul>
</section>
