<section class="choose container section-display" id="choose">
	<h2 class="choose__title">Choose a subscription</h2>
	<ul class="choose__list">
		<li class="choose__item">
			<div class="choose__item-inner">
				<h3 class="choose__item-title">Netflix</h3>
				<p class="choose__item-text">
					The constant contributes to the task of the same and thus the intended
					features and the set relation to the check and set also.
				</p>
				<button
					class="choose__item-button button width-auto blue"
					data-tab="netflix"
				>
					Learn more
				</button>
			</div>
			<img
				width="327"
				height="213"
				srcset="
					/images/choose/netflix.webp    1x,
					/images/choose/netflix-2x.webp 2x
				"
				src="/images/choose/netflix.png"
				alt="netflix logo"
				class="choose__item-image"
			/>
		</li>
		<li class="choose__item">
			<div class="choose__item-inner">
				<h3 class="choose__item-title">Spotify Premium</h3>
				<p class="choose__item-text">
					The constant contributes to the task of the same and thus the intended
					features and the set relation to the check and set also.
				</p>
				<button
					class="choose__item-button button width-auto blue"
					data-tab="spotify"
				>
					Learn more
				</button>
			</div>
			<img
				width="327"
				height="213"
				srcset="
					/images/choose/spotify.webp    1x,
					/images/choose/spotify-2x.webp 2x
				"
				src="/images/choose/spotify.png"
				alt="spotify logo"
				class="choose__item-image"
			/>
		</li>
		<li class="choose__item">
			<div class="choose__item-inner">
				<h3 class="choose__item-title">Youtube Premium</h3>
				<p class="choose__item-text">
					The constant contributes to the task of the same and thus the intended
					features and the set relation to the check and set also.
				</p>
				<button
					class="choose__item-button button width-auto blue"
					data-tab="youtube"
				>
					Learn more
				</button>
			</div>
			<img
				width="327"
				height="213"
				srcset="
					/images/choose/youtube.webp    1x,
					/images/choose/youtube-2x.webp 2x
				"
				src="/images/choose/youtube.png"
				alt="youtube logo"
				class="choose__item-image"
			/>
		</li>
	</ul>
</section>
