<li class="works__item">
	<div class="works__invite">
		<h3 class="invite__title">Invite friends</h3>
		<p class="invite__text">
			Starting today up to 50% for NETFLIX, YOUTUBE, SPOTIFY subscriptions with
			a secure payment from PAYPAL
		</p>
	</div>
	<div class="works__discount">
		<p class="discount__text">Click on the link</p>
		<div class="discount__copy-inner" data-copy="no">
			<p class="discount__copy-text">Discounts On Services</p>
			<svg class="icon-copy discount__copy-icon" height="19" width="19">
				<use href="/images/svg/sprite.svg#file-copy"></use>
			</svg>
			<svg
				class="icon-copy success discount__copy-icon visually-hidden"
				height="19"
				width="19"
			>
				<use href="/images/svg/sprite.svg#file-copy-success"></use>
			</svg>
		</div>
	</div>
</li>
