<section class="faq container section-display" id="faq">
	<h2 class="faq__title">FAQ</h2>
	<ul class="faq__list">
		<li class="faq__item">
			<details class="details faq__details">
				<summary class="summary faq__summary">
					<p class="faq__summary-question">
						The set time has passed, but the invoice has not yet arrived, what
						should I do?
					</p>
					<div class="faq__summary-icon-inner">
						<svg
							class="icon icon__faq-details faq__summary-icon"
							height="20"
							width="20"
						>
							<use href="/images/svg/sprite.svg#arrow-down"></use>
						</svg>
					</div>
				</summary>
				<p class="faq__summary-answer">
					Contact our support team, and we’ll resend the invoice promptly.
				</p>
			</details>
		</li>
		<li class="faq__item">
			<details class="details faq__details">
				<summary class="summary faq__summary">
					<p class="faq__summary-question">
						Can I change my Netflix account email and password after purchase?
					</p>
					<div class="faq__summary-icon-inner">
						<svg
							class="icon icon__faq-details faq__summary-icon"
							height="20"
							width="20"
						>
							<use href="/images/svg/sprite.svg#arrow-down"></use>
						</svg>
					</div>
				</summary>
				<p class="faq__summary-answer">
					Yes, you can update your email and password in the account settings
					after purchase.
				</p>
			</details>
		</li>
		<li class="faq__item">
			<details class="details faq__details">
				<summary class="summary faq__summary">
					<p class="faq__summary-question">
						Can I add a phone number for password recovery?
					</p>
					<div class="faq__summary-icon-inner">
						<svg
							class="icon icon__faq-details faq__summary-icon"
							height="20"
							width="20"
						>
							<use href="/images/svg/sprite.svg#arrow-down"></use>
						</svg>
					</div>
				</summary>
				<p class="faq__summary-answer">
					Yes, you can add a phone number for recovery through the account
					security settings.
				</p>
			</details>
		</li>
		<li class="faq__item">
			<details class="details faq__details">
				<summary class="summary faq__summary">
					<p class="faq__summary-question">
						How soon will I receive the account information I ordered?
					</p>
					<div class="faq__summary-icon-inner">
						<svg
							class="icon icon__faq-details faq__summary-icon"
							height="20"
							width="20"
						>
							<use href="/images/svg/sprite.svg#arrow-down"></use>
						</svg>
					</div>
				</summary>
				<p class="faq__summary-answer">
					You’ll receive your account details within 24 hours of purchase
					confirmation.
				</p>
			</details>
		</li>
		<li class="faq__item">
			<details class="details faq__details">
				<summary class="summary faq__summary">
					<p class="faq__summary-question">How to pay?</p>
					<div class="faq__summary-icon-inner">
						<svg
							class="icon icon__faq-details faq__summary-icon"
							height="20"
							width="20"
						>
							<use href="/images/svg/sprite.svg#arrow-down"></use>
						</svg>
					</div>
				</summary>
				<p class="faq__summary-answer">
					Payment options we currently have: PayPal, Bitcoin.
				</p>
			</details>
		</li>
	</ul>
	<button class="button gray faq__button" data-modal="working" id="support">
		Support
	</button>
</section>
