<section class="hero container" id="hero">
	<ul class="hero__list">
		<li class="hero__item">
			<h1 class="hero__title">Start enjoying a benefit of up to 50%</h1>
			<p class="hero__text">
				You have always wanted to get the same product at a special price for
				you, without haggling - and it is yours.
			</p>
			<a href="#choose" class="hero__link button white">Start using</a>
		</li>
		<li class="hero__item">
			<img
				class="hero__image"
				srcset="
					/images/hero/girl-main.webp    1x,
					/images/hero/girl-main-2x.webp 2x
				"
				src="/images/hero/girl-main.png"
				alt="girl with product icons"
				width="281"
				height="281"
			/>
		</li>
	</ul>
</section>
