<section class="overlay bg-blur visually-hidden" id="overlay">
	<h2 class="visually-hidden">This section for modal windows parshals</h2>
	<ul class="modal" id="modal">
		<li class="modal__menu visually-hidden">
			<load src="/partials/modals/menu.html" />
		</li>
		<li class="modal__login visually-hidden">
			<load src="/partials/modals/login.html" />
		</li>
		<li class="modal__subscription visually-hidden">
			<load src="/partials/modals/subscription.html" />
		</li>
		<li class="modal__paid visually-hidden">
			<load src="/partials/modals/paid.html" />
		</li>
		<li class="modal__purschase visually-hidden">
			<load src="/partials/modals/purschase.html" />
		</li>
		<li class="modal__crypto-one visually-hidden">
			<load src="/partials/modals/crypto-one.html" />
		</li>
		<li class="modal__crypto-two visually-hidden">
			<load src="/partials/modals/crypto-two.html" />
		</li>
		<li class="modal__create visually-hidden">
			<load src="/partials/modals/create.html" />
		</li>
		<li class="modal__email visually-hidden">
			<load src="/partials/modals/email.html" />
		</li>
		<li class="modal__code visually-hidden">
			<load src="/partials/modals/code.html" />
		</li>
		<li class="modal__successful visually-hidden">
			<load src="/partials/modals/successful.html" />
		</li>
		<li class="modal__forget-email visually-hidden">
			<load src="/partials/modals/forget-email.html" />
		</li>
		<li class="modal__forget-code visually-hidden">
			<load src="/partials/modals/forget-code.html" />
		</li>
		<li class="modal__forget-password visually-hidden">
			<load src="/partials/modals/forget-password.html" />
		</li>
		<li class="modal__logout visually-hidden">
			<load src="/partials/modals/logout.html" />
		</li>
		<li class="modal__policy visually-hidden">
			<load src="/partials/modals/policy.html" />
		</li>
		<li class="modal__working visually-hidden">
			<load src="/partials/modals/working.html" />
		</li>
	</ul>
</section>
