<section class="overlay bg-blur" id="overlay">
	<ul class="modal" id="modal">
		<li class="modal__menu">
			<load src="/partials/modals/menu.html" />
		</li>
		<li class="modal__login">
			<load src="/partials/modals/login.html" />
		</li>
		<li class="modal__subscription">
			<load src="/partials/modals/subscription.html" />
		</li>
		<li class="modal__paid">
			<load src="/partials/modals/paid.html" />
		</li>
		<li class="modal__purschase">
			<load src="/partials/modals/purschase.html" />
		</li>
		<li class="modal__crypto-wallet-one">
			<load src="/partials/modals/crypto-one.html" />
		</li>
		<li class="modal__crypto-wallet-two">
			<load src="/partials/modals/crypto-two.html" />
		</li>
		<li class="modal__create">
			<load src="/partials/modals/create.html" />
		</li>
		<li class="modal__email">
			<load src="/partials/modals/email.html" />
		</li>
		<li class="modal__code">
			<load src="/partials/modals/code.html" />
		</li>
		<li class="modal__successful">
			<load src="/partials/modals/successful.html" />
		</li>
		<li class="modal__forget">
			<load src="/partials/modals/forget-email.html" />
		</li>
		<li class="modal__forget">
			<load src="/partials/modals/forget-code.html" />
		</li>
		<li class="modal__forget visually-hdden">
			<load src="/partials/modals/forget-password.html" />
		</li>
		<li class="modal__logout">
			<load src="/partials/modals/logout.html" />
		</li>
		<li class="modal__policy">
			<load src="/partials/modals/policy.html" />
		</li>
		<li class="modal__working">
			<load src="/partials/modals/working.html" />
		</li>
	</ul>
</section>
