<section class="overlay bg-blur" id="overlay">
	<ul class="modal" id="modal">
		<li class="modal__menu visually-hidden">
			<load src="/partials/modals/menu.html" />
		</li>
		<li class="modal__login visually-hidden">
			<load src="/partials/modals/login.html" />
		</li>
		<li class="modal__subscription visually-hidden">
			<load src="/partials/modals/subscription.html" />
		</li>
		<li class="modal__paid visually-hidden">
			<load src="/partials/modals/paid.html" />
		</li>
		<li class="modal__purschase visually-hidden">
			<load src="/partials/modals/purschase.html" />
		</li>
		<li class="modal__crypto-wallet-one visually-hidden">
			<load src="/partials/modals/crypto-wallet-one.html" />
		</li>
		<li class="modal__crypto-wallet-two visually-hidden">
			<load src="/partials/modals/crypto-wallet-two.html" />
		</li>
		<li class="modal__create">
			<load src="/partials/modals/create.html" />
		</li>
		<li class="modal__forget visually-hidden">
			<load src="/partials/modals/forget.html" />
		</li>
		<li class="modal__logout visually-hidden">
			<load src="/partials/modals/logout.html" />
		</li>
	</ul>
</section>
