<section class="tabs visually-hidden" id="tabs">
	<h2 class="visually-hidden">This section for tabs parshals</h2>
	<ul class="tab" id="tab">
		<li class="tab__netflix visually-hidden">
			<load src="/partials/tabs/netflix.html" />
		</li>
		<li class="tab__youtube visually-hidden">
			<load src="/partials/tabs/youtube.html" />
		</li>
		<li class="tab__spotify visually-hidden">
			<load src="/partials/tabs/spotify.html" />
		</li>
		<li class="tab__account visually-hidden">
			<load src="/partials/tabs/account.html" />
		</li>
	</ul>
</section>
