<section class="works container section-display" id="works">
	<h2 class="works__title">How it works?</h2>
	<ul class="works__list">
		<li class="works__item">
			<ul class="works__steps-list">
				<li class="works__steps-item">
					<div class="steps__header">
						<h3 class="steps__title">Step 1</h3>
						<svg class="steps__icon icon-works-step" height="93" width="93">
							<use href="/images/svg/sprite.svg#steps-one"></use>
						</svg>
					</div>
					<p class="steps__text">Enter your account information</p>
				</li>
				<li class="works__steps-item">
					<div class="steps__header">
						<h3 class="steps__title">Step 2</h3>
						<svg class="steps__icon icon-works-step" height="93" width="93">
							<use href="/images/svg/sprite.svg#steps-two"></use>
						</svg>
					</div>
					<p class="steps__text">Select the desired subscription and plan</p>
				</li>
				<li class="works__steps-item">
					<div class="steps__header">
						<h3 class="steps__title">Step 3</h3>
						<svg class="steps__icon icon-works-step" height="93" width="93">
							<use href="/images/svg/sprite.svg#steps-three"></use>
						</svg>
					</div>
					<p class="steps__text">Pay your bill with PayPal</p>
				</li>
			</ul>
		</li>
		<load src="/partials/discount.html" />
	</ul>
</section>
