@use 'helpers' as *;
@use 'normalize';
@use 'fonts';
@use 'utils';
@use 'variables';

html {
	&.is-lock {
		overflow: hidden;
		height: 100dvh;
		width: 100dvw;
	}
}

body {
	background-size: contain;
	background-position: center;
	@include flex-center(column);
	justify-content: space-between;
	font-family: var(--font-gotham);
	font-size: remm(16);
	background: var(--background);
	user-select: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	flex-grow: 1;
}

section {
	padding-block: remm(50);
	@include laptop {
		padding-block: remm(60);
	}
}
section#tabs {
	padding: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: var(--main-text);
	font-family: var(--font-gotham);
	line-height: 1.3;
	text-align: center;
	font-weight: 700;
	line-height: 140%;
}
h1,
.h1 {
	@include laptop-below {
		letter-spacing: remm(0.3);
	}
}
h2,
.h2 {
	@include laptop-below {
		letter-spacing: remm(0.25);
	}
}
h3,
.h3 {
	font-weight: 400;
	@include laptop-below {
		font-weight: 700;
		letter-spacing: remm(0.22);
	}
}
h4,
.h4 {
	@include laptop-below {
		letter-spacing: remm(0.19);
	}
}
h5,
.h5,
h6,
.h6 {
	font-weight: 400;
	@include laptop-below {
		font-weight: 700;
		letter-spacing: remm(0.18);
	}
}

h1,
.h1 {
	@include fluid-text(36, 28);
}

h2,
.h2 {
	@include fluid-text(32, 25);
}

h3,
.h3 {
	@include fluid-text(26, 22);
}

h4,
.h4 {
	@include fluid-text(26, 22);
}

h5,
.h5 {
	@include fluid-text(22, 22);
}

h6,
.h6 {
	@include fluid-text(22, 18);
}

p {
	color: var(--main-text);
	font-family: var(--font-gotham);
	font-size: remm(16);
	font-weight: 400;
	@include laptop-below {
		letter-spacing: remm(0.16);
	}
}
a,
button {
	color: var(--main-text);
	font-family: var(--font-gotham);
	font-weight: 700;
	line-height: 130%;
	font-size: remm(17);
	@include laptop-below {
		font-size: remm(15);
		letter-spacing: remm(0.15);
	}
	&[class][type] {
		text-decoration: none;
	}
	&[aria-label] {
		position: relative;

		&::before {
			@include abs-center;
			@include square(remm(44));
			content: '';
		}
	}
}
button.button {
	border: none;
	&:disabled {
		color: var(--black);
		background-color: var(--gray-light);
		border: var(--border-black);
		@include hover {
			color: var(--black);
			background-color: var(--gray-light);
			border: var(--border-black);
			cursor: not-allowed;
		}
	}
}
a {
	display: inline-flex;
	text-decoration: none;
	color: var(--black);
}
label,
.label-inner {
	width: 100%;
	@include flex-center(column);
	align-items: start;
	gap: remm(10);
	color: var(--label-text);
	font-family: var(--font-gotham);
	font-weight: 400;
	line-height: 130%;
	font-size: remm(17);
	letter-spacing: remm(0.17);
	@include laptop-below {
		font-size: remm(14);
		letter-spacing: remm(0.14);
	}
}

a,
button,
label,
input,
textarea,
select,
svg * {
	@include transition;
}

:focus-visible {
	outline: remm(2) dashed var(--black);
	outline-offset: remm(2);
	transition-duration: 0s !important;
}

#support,
#faq,
#about {
	scroll-margin-top: 80px;
}

input,
.input {
	padding-block: remm(16);
	padding-inline: remm(24) remm(30);
	border-radius: remm(12);
	background: var(--background-second);
	border: none;
	width: 100%;
	color: var(--black);
	font-family: var(--font-inter);
	font-weight: 400;
	line-height: 130%;
	font-size: remm(17);
	@include laptop-below {
		font-size: remm(15);
		padding-block: remm(12);
	}
	&::placeholder {
		color: var(--placeholder-text);
		font-family: var(--font-inter);
		font-weight: 400;
		line-height: 130%;
	}
}
.account-info {
	color: var(--blue-dark);
	font-family: var(--font-inter);
	font-weight: 500;
	letter-spacing: remm(0.15);
}
.account-menu {
	color: var(--blue-dark);
	font-family: var(--font-inter);
	font-weight: 600;
	line-height: 140%;
	letter-spacing: remm(0.17);
}
.copyright {
	color: var(--gray-light);
	font-family: var(--font-gotham);
	font-weight: 300;
	opacity: 0.5;
	@include hover {
		opacity: 1;
	}
}
.price {
	color: var(--price-text);
	text-align: center;
	font-family: var(--font-montserrat);
	font-weight: 700;
	line-height: 130%;
	font-size: remm(30);
	@include laptop {
		font-size: remm(50);
	}
}
.width-auto {
	@include laptop {
		width: auto;
	}
}

.link {
	&-text {
		color: var(--gray);
		opacity: 0.6;
	}

	&-blue {
		color: var(--blue-light);
		@include hover {
			color: var(--blue);
			text-decoration-line: underline;
			text-underline-position: from-font;
		}
	}
	&-black {
		color: var(--black);
		@include hover {
			color: var(--black-dark);
			text-decoration-line: underline;
			text-underline-position: from-font;
		}
	}
}
