@use 'helpers' as *;

:root {
	//! Colors
	--white: #fff;
	--black: #171717;
	--gray: #333333;
	--gray-light: #d3d3d3;
	--blue-dark: #070033;
	--blue: #1749b3;
	--blue-light: #4b84fd;
	--red: #fe0000;

	--input-border: #cecbdf;

	--background: #ecf3fb;
	--background-input: #f1f4f8;

	--main-text: #2c2738;
	--label-text: #1b1b29;
	--price-text: #0f0f0f;
	--placeholder-text: #8f8f8f;

	//! Fonts
	--font-gotham: 'Gotham Pro', sans-serif;
	--font-inter: 'Inter', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;

	//! Borders
	--border-input-active: #{remm(1)} solid var(--input-border);
	--border-blue: #{remm(1)} solid var(--blue);
	--border-black: #{remm(1)} solid var(--black);
	--border-transparent: #{remm(1)} solid transparent;

	//! Ansmation
	--transition-duration: 0.2s;
	--transition: all var(--transition-duration) linear;

	//! Container
	--container-width: #{fluid(1440, 320)};
	--container-padding-x: #{remm(24)};

	@include mobile {
		--container-padding-x: #{remm(24)};
	}
	@include tablet {
		--container-padding-x: #{remm(32)};
	}
	@include laptop {
		--container-padding-x: #{remm(120)};
	}

	--100vw: calc(100vw - var(--scrollbar-width));
}
