@use 'helpers' as *;

:root {
	//! Colors
	--black-origin: #000;
	--white: #fff;
	--white-08: rgba(255, 255, 255, 0.8);
	--black-dark: #030303;
	--black: #171717;
	--gray-05: rgba(247, 247, 247, 0.5);
	--gray-dark: #606060;
	--gray: #333333;
	--gray-2: #dfdfdf;
	--gray-3: #232323;
	--gray-light: #d3d3d3;
	--blue-dark: #070033;
	--blue: #1749b3;
	--blue-light: #4b84fd;
	--red: #fe0000;

	--spotify: #1ed760;
	--netflix: #e50914;
	--youtube: #ff0000;

	--options: #5c5c5c;

	--input-border: #cecbdf;

	--background-menu-links: #f7f7f7;
	--background: #ecf3fb;
	--background-second: #f1f4f8;

	--main-text: #2c2738;
	--label-text: #1b1b29;
	--price-text: #0f0f0f;
	--placeholder-text: #8f8f8f;

	//! Fonts
	--font-gotham: 'Gotham Pro', sans-serif;
	--font-inter: 'Inter', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;

	//! Shadows

	--shadow-main-hero: #{remm(0)} #{remm(2)} #{remm(14)} #{remm(0)}
		rgba(213, 216, 221, 0.2);
	--shadow-main-item: #{remm(0)} #{remm(4)} #{remm(24)} #{remm(0)}
		rgba(213, 216, 221, 0.2);
	--shadow-main-item-second: #{remm(0)} #{remm(12)} #{remm(28)} #{remm(0)}
		rgba(244, 245, 245, 0.2);
	--shadow-menu-modal: #{remm(0)} #{remm(12)} #{remm(28)} #{remm(0)}
		rgba(177, 177, 177, 0.2);
	--shadow-details-list: #{remm(0)} #{remm(20)} #{remm(48)} #{remm(0)}
		rgba(177, 177, 177, 0.4);

	//! Borders
	--border-input-active: #{remm(1)} solid var(--input-border);
	--border-white: #{remm(1)} solid var(--white);
	--border-blue: #{remm(1)} solid var(--blue);
	--border-blue-light: #{remm(1)} solid var(--blue-light);
	--border-black: #{remm(1)} solid var(--black);
	--border-black-origin: #{remm(1)} solid var(--black-origin);
	--border-transparent: #{remm(1)} solid transparent;
	--border-footer: #{remm(2)} solid var(--gray-05);
	--border-tabs-header: #{remm(2)} solid var(--gray-light);
	--border-gray-2: #{remm(1)} solid var(--gray-2);

	//! Ansmation
	--transition-duration: 0.2s;
	--transition: all var(--transition-duration) linear;

	//! Container
	--container-width: #{fluid(1200, 327)};
	--container-padding-x: #{remm(24)};

	@include mobile {
		--container-padding-x: #{remm(24)};
	}
	@include tablet {
		--container-padding-x: #{remm(32)};
	}
	@include laptop {
		--container-padding-x: #{remm(120)};
	}

	--100vw: calc(100vw - var(--scrollbar-width));
}
